name: CI

on: 
  push:
    branches: master
  pull_request:
    branches: master
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Docker hub Login
        uses: docker/login-action@v2
        with:
          username: jimin8830
          password: ${{ secrets.DOCKERHUBTOKEN }}
      - name: Docker Build and Push
        uses: docker/build-push-action@v2
        with:
          context: .
          dockerfile: dockerfile
          platforms: linux/amd64
          push: true
          tags: latest
