name: CI

on:
  push:
    branches: master
  pull_request:
    branches: master

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Docker hub Login
        uses: docker/login-action@v2
        with:
          username: jimin8830
          password: ${{ secrets.DOCKERHUBTOKEN }}
      - name: build and release to DockerHub
        env:
          NAME: jimin8830 # 계정 명
          REPO: crawling # 레포 이름
        run: |
          docker build -t $REPO .
          docker tag $REPO:latest $NAME/$REPO:latest
          docker push $NAME/$REPO:latest
